<h1> Division </h1>

<dt>
<dt> First number </dt>
<dd> <%= @first_num%> </dd>

<dt> Second number </dt>
<dd> <%= @second_num%> </dd>

<dt> Result </dt>
<dd> <%= @first_num / @second_num%> </dd>

</dt>

<a href="/divide"> Do another division </a>