<h1> Subtraction </h1>

<dt>
<dt> First number </dt>
<dd> <%= @first_num%> </dd>

<dt> Second number </dt>
<dd> <%= @second_num%> </dd>

<dt> Result </dt>
<dd> <%= @second_num - @first_num%> </dd>

</dt>

<a href="/subtract"> Do another subtraction </a>