<h1> Addition </h1>

<form action="/wizard_add">

<label for="num_1">
Add this:
</label>

<input id="num_1" name="first_num" type="text">

<label for="num_2">
to this: 
</label>
<input id="num_2" name="second_num" type ="text">

<button> Add! </button>

