<h1> Division </h1>

<form action="/wizard_divide">

<label for="num_1">
Divide this:
</label>

<input id="num_1" name="first_num" type="text">

<label for="num_2">
by this: 
</label>
<input id="num_2" name="second_num" type ="text">

<button> Divide! </button>