<h1> Multiplication </h1>

<form action="/wizard_multiply">

<label for="num_1">
Multiply this:
</label>

<input id="num_1" name="first_num" type="text">

<label for="num_2">
by this: 
</label>
<input id="num_2" name="second_num" type ="text">

<button> Multiply! </button>