<h1> Subtraction </h1>

<form action="/wizard_subtract">

<label for="num_1">
Subtract this:
</label>

<input id="num_1" name="first_num" type="text">

<label for="num_2">
from this: 
</label>
<input id="num_2" name="second_num" type ="text">

<button> Subtract! </button>